:root {
--Inter: 'Inter Variable';
--PressStart2P: 'PressStart2P Regular';
--main-text-weight: 400;
--main-header-weight: 700;
--main-font-size: 18px;
--header-size:100%;
--card-size:100%;
--background-image: repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(#d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
--backgound-color: #fff;
}
